#signUp-home,
button,
input {
  background-color: #24353f !important;
}

h2 {
  color: #17a2b8;
  font-size: 2.5rem;
  font-weight: 400;
}
.box {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.form-control::placeholder {
  color: lightgray;
  opacity: 1;
}
.form-control {
  color: lightgray !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  border-color: #17a2b8 !important;
}
button:hover {
  background-color: #17a2b8 !important;
}
#message {
  transition: all 1s;
}

.sucsess-container {
  display: none;
  justify-content: center;
  align-items: center;
  /* animation: medhatanimate 1s; */
  transition: all 3s;
}
.sucsess-box {
  background-color: #17a2b8;
  padding: 20px;
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
  border-radius: 20px;
}

.sucsess-box h2 {
  color: #fff;
}

/* @keyframes medhatanimate {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
} */
